* {
  padding: 0;
  margin: 0;
}
body {
  background-color: aliceblue;
}
ul {
  list-style-type: none;
  overflow: hidden;
}
.LiClas {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 7%;
  margin-right: 7%;
}
nav {
  border-bottom: 0.1px solid rgb(199, 199, 199);
  margin-top: 1.2%;
}
.Pbtn,
.pbtn2 {
  border-radius: 25px;
  padding: 4px 10px 4px 10px;
}
.Pbtn {
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  color: rgba(245, 244, 244, 0.938);
}
.pbtn2 {
  background-color: white;
  color: rgb(66, 63, 63);
}
.LiClas2 {
  float: left;
  padding-top: 5px;
  margin-right: 2.5%;
}

::-webkit-scrollbar-button {
  height: 2px;
}
.Aclas {
  float: left;
  padding-top: 5px;
  margin-left: 3.5%;
}
.LaterClass {
  background-color: white;
  color: rgb(66, 63, 63);
  border-radius: 25px;
  padding: 4px 10px 4px 10px;

  margin-bottom: 3px;
}
.Lclass {
  float: left;
}
